:root {
  --clr-cyan-light-1: 189, 41%, 97%;
  --clr-cyan-light-2: 185, 41%, 84%;
  --clr-cyan-dark: 183 100% 15%;
  --clr-cyan-grey-1: 186, 14%, 43%;
  --clr-cyan-grey-2: 184, 14%, 56%;
  --clr-cyan-strong-1: 172, 61%, 77%;
  --clr-cyan-strong-2: 172, 67%, 45%;
  --clr-white: 0 0% 100%;
}

/*-------
Reset
-------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  font-size: 62.5%;
  height: 100vh;
}

body {
  font-size: 1.6rem;
  line-height: 1.2;
  background-color: hsl(var(--clr-cyan-light-2));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Space Mono', monospace;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
  padding: 0;
}

input[type='text'],
button {
  font-family: inherit;
}

/*-------
Utility
-------*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 4rem);
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

/*---------
Components
----------*/
.wrapper {
  background-color: hsl(var(--clr-white));
  border-radius: 2.5rem;
  padding: 3rem;
  -webkit-box-shadow: 0 3.2rem 4.3rem hsla(var(--clr-cyan-grey-2) / .2);
          box-shadow: 0 3.2rem 4.3rem hsla(var(--clr-cyan-grey-2) / .2);
}

.logo {
  margin-bottom: 5rem;
}

label, legend {
  display: inline-block;
  color: hsl(var(--clr-cyan-grey-1));
  margin-bottom: .5rem;
}

input[type='text'] {
  display: block;
  width: 100%;
  font-size: 2.4rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 5px;
  background-color: hsl(var(--clr-cyan-light-1));
  color: hsl(var(--clr-cyan-dark));
  padding: .3rem 1.2rem;
  text-align: right;
  -webkit-transition: border 100ms ease-in-out;
  transition: border 100ms ease-in-out;
  caret-color: hsl(var(--clr-cyan-strong-2));
}

input[type='text']::-webkit-input-placeholder {
  text-align: right;
}

input[type='text']:-ms-input-placeholder {
  text-align: right;
}

input[type='text']::-ms-input-placeholder {
  text-align: right;
}

input[type='text']::placeholder {
  text-align: right;
}

input[type='text']:focus, input[type='text']:hover {
  border: 2px solid hsl(var(--clr-cyan-strong-2));
}

.tip,
.bill,
.no-of-ppl {
  margin-top: 4rem;
}

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-height: 4.5rem;
  font-size: 2.4rem;
}

.btn--tip {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-cyan-dark));
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.btn--tip:hover, .btn--tip:focus {
  background-color: hsl(var(--clr-cyan-strong-1));
  color: hsl(var(--clr-cyan-dark));
  outline: none;
}

.btn--result {
  background-color: hsl(var(--clr-cyan-strong-2));
  color: hsl(var(--clr-cyan-dark));
  position: absolute;
  bottom: 0;
  width: auto;
}

.tip .grid {
  -ms-grid-columns: (11.5rem)[3];
      grid-template-columns: repeat(3, 11.5rem);
}

.result {
  background-color: hsl(var(--clr-cyan-dark));
  border-radius: 1.5rem;
  padding: 4rem;
  color: hsl(var(--clr-white));
  position: relative;
}

.result_item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  --gap: 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.result_amt {
  font-size: 4.8rem;
  color: hsl(var(--clr-cyan-strong-2));
}

.result span {
  color: hsl(var(--clr-cyan-grey-2));
  font-size: 1.3rem;
  display: block;
}
/*# sourceMappingURL=style.css.map */