:root {
  --clr-cyan-light-1: 189, 41%, 97%;
  --clr-cyan-light-2: 185, 41%, 84%;

  --clr-cyan-dark: 183 100% 15%;

  --clr-cyan-grey-1: 186, 14%, 43%;
  --clr-cyan-grey-2: 184, 14%, 56%;

  --clr-cyan-strong-1: 172, 61%, 77%;
  --clr-cyan-strong-2: 172, 67%, 45%;

  --clr-white: 0 0% 100%;
}

// - Strong cyan: hsl(172, 67%, 45%) -
// - Very dark cyan: hsl(183, 100%, 15%) -
// - Dark grayish cyan: hsl(186, 14%, 43%) -
// - Grayish cyan: hsl(184, 14%, 56%) -
// - Light grayish cyan: hsl(185, 41%, 84%) -
// - Very light grayish cyan: hsl(189, 41%, 97%) -
// - White: hsl(0, 0%, 100%)



/*-------
Reset
-------*/
*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  line-height: 1.2;
  background-color: #{'hsl(var(--clr-cyan-light-2))'};
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Space Mono', monospace;
  padding: 2rem;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
  padding: 0;
}

input[type='text'],
button {
  font-family: inherit;
}



/*-------
Utility
-------*/
.flex {
  display: flex;
  gap: var(--gap, 4rem);
}

.grid {
  display: grid;
  gap: 1rem;
}



/*---------
Components
----------*/
.wrapper {
  background-color: #{'hsl(var(--clr-white))'};
  border-radius: 2.5rem;
  padding: 3rem;
  box-shadow: 0 3.2rem 4.3rem #{'hsla(var(--clr-cyan-grey-2) / .2)'};
}

@media (max-width: 45em) {
  .main {
    flex-direction: column;
  }

  .logo {
    margin: 5rem 0;
  }
}

.logo {
  margin-bottom: 5rem;
}

label, legend {
  display: inline-block;
  color: #{'hsl(var(--clr-cyan-grey-1))'};
  margin-bottom: .5rem;
}


// Form
input[type='text'] {
  display: block;
  width: 100%;
  font-size: 2.4rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 5px;
  background-color: #{'hsl(var(--clr-cyan-light-1))'};
  color: #{'hsl(var(--clr-cyan-dark))'};
  padding: .3rem 1.2rem;
  text-align: right;
  transition: border 100ms ease-in-out;
  caret-color: #{'hsl(var(--clr-cyan-strong-2))'};

  &::placeholder {
    text-align: right;
  }

  &:focus,
  &:hover {
    border: 2px solid #{'hsl(var(--clr-cyan-strong-2))'};
  }
}

.tip,
.bill,
.no-of-ppl {
  margin-top: 4rem;
}
//


// Button
.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-height: 4.5rem;
  font-size: 2.4rem;
  text-transform: uppercase;

  &--tip, 
  &--result {
    color: #{'hsl(var(--clr-white))'};
    background-color: #{'hsl(var(--clr-cyan-dark))'};
    transition: background-color 300ms ease-in-out;

    &:hover,
    &:focus {
      background-color: #{'hsl(var(--clr-cyan-strong-1))'};
      color: #{'hsl(var(--clr-cyan-dark))'};
      outline: none;
    }
  }

  &--tip:focus {
      background-color: #{'hsl(var(--clr-cyan-strong-2))'};
  }

  &--result {
    background-color: #{'hsl(var(--clr-cyan-strong-2))'};
    color: #{'hsl(var(--clr-cyan-dark))'};
    width: 100%;
  }
}
//


// Sections
.tip {
  .grid {
    grid-template-columns: repeat(3, 11.5rem);
  }
}

.result {
  background-color: #{'hsl(var(--clr-cyan-dark))'};
  border-radius: 1.5rem;
  padding: 4rem;
  color: #{'hsl(var(--clr-white))'};
  position: relative;
  flex-direction: column;
  justify-content: space-between;

  &_item {
    justify-content: space-between;
    --gap: 8rem;
    align-items: center;
    margin-bottom: 3rem;
  }

 &_amt {
   font-size: 4.8rem;
   color: #{'hsl(var(--clr-cyan-strong-2))'};
 }

  span {
    color: #{'hsl(var(--clr-cyan-grey-2))'};
    font-size: 1.3rem;
    display: block;
  }
}


 



// .attribution { font-size: 11px; text-align: center; }
// .attribution a { color: hsl(228, 45%, 44%); }